{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Header -->
<header class="masthead">
  <div class="container h-100 ">
    <!-- <h1 class="mx-auto my-0 text-uppercase">THATS YOUR GRAPH</h1> -->
    <div class="row pt-5">
      <div class="col-md-9 col-sm-12" style="flex: 1;">
        <div class="mx-auto bg-transparent text-center">
          {% autoescape off %}
          {{ div  }}
          {% endautoescape %}
        </div>
      </div>
      <div class="col-md-3  p-0 bg-light col-sm-12 " style="flex: 1;display: flex;flex-direction: column;">
        <div class="text-center p-3 ">
          <h2 class="font-weight-lighter">SCORES</h2>
          <hr style="width: 50%; border-width: 0.2rem;border-color:#2CBAB2;">
        </div>
        <div id="scores" style="flex-grow:1;">
          <div class="text-center h-25 p-2" style="background: #F2F2F2;">
            <h4>R2</h4>
            {% if errors.R2 is None %}-{% else %}{{errors.R2}}{% endif %}
          </div>
          <div class="text-center h-25 p-2" style="background: #FFF;">
            <h4>MSE</h4>
            {% if errors.MSE is None %}-{% else %}{{errors.MSE}}{% endif %}
          </div>
          <div class="text-center h-25 p-2" style="background: #F2F2F2;">
            <h4>RMSE</h4>
            {% if errors.RMSE is None %}-{% else %}{{errors.RMSE}}{% endif %}
          </div>
          <div class="text-center h-25 p-2" style="background: #FFF;">
            <h4>SMAPE</h4>
            {% if errors.SMAPE is None %}-{% else %}{{errors.SMAPE}}{% endif %}
          </div>
        </div>
      </div>
     
    </div>
  </div>
</header>
<section class="bg-light">
  <div class="container p-5 text-center">
  <h1 class="font-weight-light ">DESCRIPTIONS</h1>
  <hr style="width:30%;background-color:#64a19d;border-width: 0.25rem;">
  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Keyword</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Actual</td>
          <td>The actual data for selected stock ticker.</td>

        </tr>
        <tr>
          <td>Forecast</td>
          <td>The predicted data by selected model.</i></td>
        </tr>
        <tr>
          <td>R2</td>
          <td>R-squared (R2) is a statistical measure that represents the proportion of the variance for a dependent variable that's explained by an independent variable or variables in a regression model.</b>.</td>
        </tr>
        <tr>
          <td>MSE</td>
          <td>MSE is a risk function, corresponding to the expected value of the squared error loss. The fact that MSE is almost always strictly positive (and not zero) is because of randomness or because the estimator does not account for information that could produce a more accurate estimate. The MSE is a measure of the quality of an estimator — it is always non-negative, and values closer to zero are better. </td>
        </tr>
        <tr>
          <td>RMSE</td>
          <td>RMSE is a quadratic scoring rule that also measures the average magnitude of the error. It’s the square root of the average of squared differences between prediction and actual observation.</td>
        </tr>
        <tr>
          <td>SMAPE</td>
          <td>Measure of prediction accuracy of a forecasting method in statistics, for example in trend estimation, also used as a loss function for regression problems in machine learning. It usually expresses accuracy as a percentage.'s' represents the symmetrical word.It is better on high valued datas.</td>
        </tr>
       
      </tbody>
    </table>
</div>
</section>


{% endblock content %}