{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100">
    <div class="text-left col-lg-7">
      <h1 class="mx-auto my-0 ">We are developing financial AI.<h1>
    </div>
    <div class="sonar-wrapper col-lg-5">
      <div class="sonar-emitter text-center"><a class="d-inline-block btn text-white" href="/choosemodel">Try Our
          Models</a>
        <div class="sonar-wave"></div>
      </div>
    </div>
</header>

<!-- About Section -->

<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 text-center mx-auto">
        <h2 class="text-white mb-4 font-weight-bold">What is Fin AI?</h2>
        <hr style="width:30%;background-color:#64a19d;border-width: 0.25rem;">
        <p class="text-white mx-auto"><b>Fin AI</b> is an abbreviaton of Finance on Artificial Intelligence.We are
          creating machine learning
          models to see the effects of AI in finance markets.There are two models <span class="text-primary font-weight-bold">ARIMA</span> and <span class="text-primary font-weight-bold">LSTM</span>.The new feature <span class="text-primary font-weight-bold">Trade Robot</span> is an simulator that trading according to some strategies.
        </p>
      </div>
    </div>
    <img src="{% static 'img/bgg.png' %}" class="img-fluid" alt="">
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center text-center mx-auto no-gutters mb-4 mb-lg-5">
      <div class="col-md-4 col-sm-12 pr-3">
        <div style="height: 100px;align-items: center;margin-bottom: 15px;"><img style="max-width:100%;max-height:100%"
            src="{% static 'img/analysis.png' %}">
        </div>
        <h3 style="font-weight: bold;">ANALYZE</h3>
        <hr>
        <p style="font-weight: lighter;font-size: 1.4rem;">Analyzing the data as important as creating a model.The
          system analyzes the data first.</p>
      </div>
      <div class="col-md-4 col-sm-12 pr-3 ">
        <div style="height: 100px;align-items: center;margin-bottom: 15px;"><img style="max-width:100%;max-height:100%"
            src="{% static 'img/learning.png' %}"></div>
        <h3 style="font-weight:bold;">FIT MODEL</h3>
        <hr>
        <p style="font-weight: lighter;font-size: 1.4rem;">Analyzed data is fitted to model.We present you the ARIMA and
          LSTM for now. </p>

      </div>
      <div class="col-md-4 col-sm-12 pr-3 ">
        <div style="height: 100px;align-items: center;margin-bottom: 15px;"><img style="max-width:100%;max-height:100%"
            src="{% static 'img/data-analysis.png' %}"></div>
        <h3 style="font-weight: bold;">PREDICT</h3>
        <hr>
        <p style="font-weight: lighter;font-size: 1.4rem;">System runs the code behind and shows you the graph which
          contains actual and predicted.</p>

      </div>
    </div>


  </div>
</section>




{% endblock content %}