{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="masthead">
  <div class="container" style="height: 100%;">
    <form method="POST" id="stepForm">
      {% csrf_token %}

      <ul id="section-tabs">
        <li class="current active"><span>1.</span> stock</li>
        <li><span>2.</span> date</li>
        <li><span>3.</span> period</li>
        <li><span>4.</span> metrics</li>
      </ul>
      <div id="fieldsets">
        <fieldset class="current" id="stockName">
          <div class="row">
            <div class="col-md-6 " data-aos="fade-right" style="height:150%">
              <h2>Stock </h2>
              <hr>
              <div style='text-align:center; margin: 0 0; margin-top:1em;display:block;'>
                <select style="width: 100%;" id='select' name="stock">
                  {% for s in stocks %}
                  <option value={{s.0}}>{{s.1}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mt-5"><a href="https://www.worldometers.info/coronavirus/"
                  class="btn w-100 btn-secondary">Click here for Live Stock Prices</a></div>
            </div>
            <div class="col-md-6">
              <div class="img">
                <img data-aos="fade-up" class="img-fluid" src="{% static '/img/fieldset1.png' %}" alt="">
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="next" id="dateRange">
          <div class="row">
            <div class="col-md-6">
              <h2>Dates</h2>
              <hr>
              <div class="form-group " style="margin-top:15px;">
                <div class="d-flex mb-3" style="justify-content: space-between;">
                  <div><label for="" class="label">From:</label></div>
                  <div class="input">
                    <input type="text" autocomplete="off" placeholder="Select date" name="daterange"
                      class="form-control date-picker" id="date-picker" />
                  </div>
                </div>
                <div class="d-flex" style="justify-content: space-between;">
                  <div><label for="" class="label">To:</label></div>
                  <div class="input">
                    <input autocomplete="off" type="text" placeholder="Select date" name="daterange"
                      class="form-control date-picker-2" id="date date-picker-2" />
                  </div>
                </div>
                <div class="my-2" style="text-align: end;">
                  <a class="btn btn-secondary" id="clear" style="color: white; cursor: pointer;">RESET</a>
                </div>
                <div class="alert alert-danger">
                  <p>Info:Taking date interval more will affect model better.But will decrease compile time.</p>

                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="img">
                <img class="img-fluid" src="{% static '/img/fieldset2.png' %}" alt="">
              </div>
            </div>
          </div>

        </fieldset>
        <fieldset class="next" id="periodRadio">
          <div class="row">
            <div class="col-md-6">
              <h2>Period</h2>
              <hr>
              <div class="radioDiv" style="top:50%">
                {% for p in periods  %}
                <input class="toggle-radios" type="radio" name="period" id="radio_{{forloop.counter}}" value="{{p}}" />
                <label for="radio_{{forloop.counter}}">{{p}}</label>
                {% endfor %}

              </div>
            </div>
            <div class="col-md-6">
              <div class="img">

                <img class="img-fluid" src="{% static '/img/fieldset3.png' %}" alt="">
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="next" id="metricsChoice">
          <div class="row">
            <div class="col-md-6">
              <h2>Metrics</h2>
              <hr>
              <div class="radioDiv" style="top:50%">
                {% for m in metrics %}
                <input class="toggle-radios" type="checkbox" name="metric{{forloop.counter}}"
                  id="check{{forloop.counter}}" value={{m}} />
                <label for="check{{forloop.counter}}">{{m}}</label>
                {% endfor %}

              </div>
            </div>
            <div class="col-md-6">
              <div class="img">
                <img class="img-fluid" src="{% static '/img/fieldset5.png' %}" alt="">
              </div>
            </div>
          </div>
        </fieldset>
        <a class="stepFormBtn" id="next">NEXT<i class="fas fa-arrow-right d-inline ml-3"></i></a>
        <input type="submit" class="stepFormBtn" value="GO">
      </div>

    </form>
  </div>

</section>
{% endblock content %}
