{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="masthead">
  <div class="container p-5" id="livestock">
    <div class="row">
      <div class="col-md-12 d-flex">
        <div class="w-75" style='text-align:center; margin: 0 0; margin-top:1em;display:block;'>
          <select name="stock" class="ui dropdown w-100 text-center" id="selecto">
            <option value="">Select</option>
            {% for s in stocks %}
            <option value={{s.0}}>{{s.1}}</option>
            {% endfor %}>
          </select>
        </div>
        <div style="flex-direction: column;">
        <button  type="submit" class="sqgrbtn" id="stckPgBtn">SUBMIT</button>
      </div>
      </div>
      <!-- TradingView Widget BEGIN -->
      <div class="col-md-12">
        <div class="tradingview-widget-container mt-4">
          <div id="tradingview_0cb0e" style="height: 60vh;"></div>
          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script> 
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>

  </div>

</section>
<section class="bg-light">
  <div class="container p-5">
    <h1 class="font-weight-light  text-center ">About Charts</h1>

    <hr style="width:30%;background-color:#64a19d;border-width: 0.25rem;">
    <div class="w-75 mx-auto">
      <p class="font-weight-light" style="font-size: 1.5rem;">This Stock Market Chart Widget is powerful chart.It provides us to see selected stock ticker chart include volumes.Some other specifications:
      </p>
      <ul class=" mx-auto font-weight-light text-left" style="font-size: 1.3rem;width: 90%;">
        <li>
          Adjustable to different time periods.
        </li>
        <li>
          Different types of graph.Candle,Bar,Line etc.Default is Area chart.
        </li>
        <li>
          Includes indicators.Desired indacators can be selected.Maximum 3 allowed.
        </li>
      </ul>
    <p class="float-right text-muted" style="font-size: 0.8rem;">*Chart provided by TradingView

    </p>    
  </div>
 
</div>
</section>
{% endblock content %}